<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.machaojin.mapper.BizOrderMapper">

    <resultMap id="BaseResultMap" type="com.machaojin.domain.BizOrder">
            <id property="orderid" column="OrderId" jdbcType="INTEGER"/>
            <result property="ordercode" column="OrderCode" jdbcType="VARCHAR"/>
            <result property="orderdate" column="OrderDate" jdbcType="DATE"/>
            <result property="orderflag" column="OrderFlag" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        OrderId,OrderCode,OrderDate,
        OrderFlag
    </sql>
</mapper>
