<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.machaojin.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.machaojin.domain.SysUser">
            <id property="userid" column="UserId" jdbcType="INTEGER"/>
            <result property="loginname" column="LoginName" jdbcType="VARCHAR"/>
            <result property="loginpwd" column="LoginPwd" jdbcType="VARCHAR"/>
            <result property="logintime" column="LoginTime" jdbcType="TIMESTAMP"/>
            <result property="eid" column="eid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        UserId,LoginName,LoginPwd,
        LoginTime,eid
    </sql>
</mapper>
